@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #ADD8E6; /* Set a fallback background color */
  background: linear-gradient(
    to bottom,
    #ADD8E6, /* Light Blue */
    #FFD700  /* Lighter Gold */
  ) no-repeat fixed; /* Set the gradient to not repeat and remain fixed */
  background-size: cover; /* Ensure the gradient covers the entire page */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
